$font-main: 'Montserrat', sans-serif;

//breakpoint
$width-sm: 767px;
$width-md: 1100px;
$width-lg: 1200px;

//colors
$cl-black-primary: #0D2A54;
$cl-blue-primary: #2B41B7;
$cl-gray: #D0DBF1;

$cl-background: #FFFFFf;
$cl-background-tab: #FAF8F6;